html {
  height: 100%;
}

body {
  max-height: 100%;
  /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
}

.result {
  display: block;
  text-align: center;
  margin: 0 0 3rem 0;
}

.mixed {
  font-size: 4rem;
}

@media (max-width: 576px) { 
  .mixed {
    font-size: 2rem;
  }
}

.card {
  background-size: contain;
  background-repeat: no-repeat;
}
