
.result {
  display: block;
  text-align: center;
  height: 118px;
}

.output-illu {
  z-index: -1;
  top: 20rem;
}

.mixed {
  font-size: 4rem;
}

.illu {
  width: 100%;
}

@media (max-width: 576px) { 
  .output-illu {
    top: 30rem;
  }

  .mixed {
    font-size: 2rem;
  }
}
